{% extends "template_semmenu.html" %}
{% block conteudo %}
<nav class="bg-light">
    <form action="{{ url_for('campanhaEditar', id=id) }}" method="post">
        <fieldset>
            <!-- <input type="file" name="arquivo" accept=".jpg"> -->
        <div class="form-group row col-sm-12">
            <div class="form-group col-sm-4">
                <label for="nome">Código da Campanha</label>
                <input type="text" id="cdcampanha" name="cdcampanha" class="form-control" value="{{cdcampanha[0]}}">
            </div>
            <div class="form-group col-sm-4">
                <label for="nome">Descrição da Campanha</label>
                <input type="text" id="dscampanha" name="dscampanha" class="form-control" value="{{dscampanha[0]}}">
            </div>
            
            <div class="form-group col-sm-4">
                <label for="porta">Data Inicial</label>
                <input type="text" id="dtinicio" name="dtinicio" class="form-control" value="{{dtinicio[0]}}">
            </div>
        
            <div class="form-group col-sm-4">
                <label for="porta">Data Final</label>
                <input type="text" id="dtfim" name="dtfim" class="form-control" value="{{dtfim[0]}}">
            </div>
           
            <div class="form-group col-sm-4">
                <label for="porta">Hora Inicial</label>
                <input type="text" id="hrinicio" name="hrinicio" class="form-control" value="{{hrinicio[0]}}">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Hora Final</label>
                <input type="text" id="hrfim" name="hrfim" class="form-control" value="{{hrfim[0]}}">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Tipo de Acesso <span>*</span></label>
                <select class="form-control" id="cdtipoacesso" name="cdtipoacesso">
                    {% for i in range(0, tamTA) %}
                        {% if cdtipoacesso[0] == cdTA_out[i]%}
                            <option selected value="{{cdTA_out[i]}}">{{dsTA_out[i]}}</option>
                        {% else %}
                            <option value="{{cdTA_out[i]}}">{{dsTA_out[i]}}</option>
                        {% endif %}    
                    {% endfor %}
                  </select>
            </div>
            
            <div class="form-group col-sm-4">
                <label for="porta">Caminho físico da pasta do arquivo</label>
                <input type="text" id="dsdiscopath" name="dsdiscopath" class="form-control" value="{{dsdiscopath[0]}}">
            </div>

            <div class="form-group col-sm-4">
                <label for="porta">Caminho físico do arquivo</label>
                <input type="text" id="dsdiscofile" name="dsdiscofile" class="form-control" value="{{dsdiscofile[0]}}">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Host</label>
                <input type="text" id="nmbasehost" name="nmbasehost" class="form-control" value="{{nmbasehost[0]}}">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Database</label>
                <input type="text" id="nmbasedatabase" name="nmbasedatabase" class="form-control" value="{{nmbasedatabase[0]}}">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Tabela</label>
                <input type="text" id="nmbasedtabela" name="nmbasedtabela" class="form-control" value="{{nmbasedtabela[0]}}">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Porta</label>
                <input type="text" id="nmbasedporta" name="nmbasedporta" class="form-control" value="{{nmbasedporta[0]}}">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Login</label>
                <input type="text" id="nmbasedlogin" name="nmbasedlogin" class="form-control" value="{{nmbasedlogin[0]}}">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Senha</label>
                <input type="text" id="nmbasedsenha" name="nmbasedsenha" class="form-control" value="{{nmbasedsenha[0]}}">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Quantidade de Células</label>
                <input type="text" id="qtcelulas" name="qtcelulas" class="form-control" value="{{qtcelulas[0]}}">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Quantidade de Leads</label>
                <input type="text" id="qtleads" name="qtleads" class="form-control" value="{{qtleads[0]}}">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Quantidade de Execução</label>
                <input type="text" id="qtexecutados" name="qtexecutados" class="form-control" value="{{qtexecutados[0]}}">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Tipo de Campanha</label>
                <input type="text" id="cdtipocampanha" name="cdtipocampanha" class="form-control" value="{{cdtipocampanha[0]}}">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Status <span>*</span></label>
                <select class="form-control" id="cdstatus" name="cdstatus">
                    {% for i in range(0, tamST) %}
                        {% if cdstatus[0] == cdST_out[i]%}
                            <option selected value="{{cdST_out[i]}}">{{dsST_out[i]}}</option>
                        {% else %}
                            <option value="{{cdST_out[i]}}">{{dsST_out[i]}}</option>
                        {% endif %}    
                    {% endfor %}
                  </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Separador do arquivo</label>
                <input type="text" id="dsarqseparador" name="dsarqseparador" class="form-control" value="{{dsarqseparador[0]}}">
            </div>
        </div> 
            </br>
            <div class="col-sm-4">
                <input type="submit" class="btn btn-info" value="Realizar Cadastro"/>
                <a class="btn btn-info" href="{{ url_for('campanhaTela') }}">Voltar</a>
                <link rel="stylesheet" href="/static/css/bootstrap.css">
            </div>
        </fieldset>
    </form>
</nav>    
{% endblock %}