{% extends "template_semmenu.html" %}
{% block conteudo %}

  

</script>
<nav class="bg-light">
    <form action="{{ url_for('campanhaCadastro') }}" method="post">
        <fieldset>
            <!-- <input type="file" name="arquivo" accept=".jpg"> -->
        <div class="form-group row col-sm-12">
            <div class="form-group col-sm-4">
                <label for="nome">Código da Campanha <span>*</span></label>
                <input type="text" id="cdcampanha" name="cdcampanha" class="form-control" onchange="isInteger('cdcampanha')" required>
            </div>
            <div class="form-group col-sm-4">
                <label for="nome">Descrição do Campanha</label>
                <input type="text" id="dscampanha" name="dscampanha" class="form-control">
            </div>
            
            <div class="form-group col-sm-4">
                <label for="porta">Data Inicial</label>
                <input type="text" id="dtinicio" name="dtinicio" class="form-control">
            </div>
        
            <div class="form-group col-sm-4">
                <label for="porta">Data Final</label>
                <input type="text" id="dtfim" name="dtfim" class="form-control">
            </div>
           
            <div class="form-group col-sm-4">
                <label for="porta">Hora Inicial</label>
                <input type="text" id="hrinicio" name="hrinicio" class="form-control">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Hora Final</label>
                <input type="text" id="hrfim" name="hrfim" class="form-control">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Tipo de Acesso <span>*</span></label>
                <select class="form-control" id="cdtipoacesso" name="cdtipoacesso">
                    {% for i in range(0, tamTipoAcesso) %}
                        <option value="{{cdtipoacesso[i]}}">{{dstipoacesso[i]}}</option>
                    {% endfor %}
                  </select>
            </div>
            
            <div class="form-group col-sm-4">
                <label for="porta">Caminho físico da pasta do arquivo</label>
                <input type="text" id="dsdiscopath" name="dsdiscopath" class="form-control">
            </div>

            <div class="form-group col-sm-4">
                <label for="porta">Caminho físico do arquivo</label>
                <input type="text" id="dsdiscofile" name="dsdiscofile" class="form-control">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Host</label>
                <input type="text" id="nmbasehost" name="nmbasehost" class="form-control">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Database</label>
                <input type="text" id="nmbasedatabase" name="nmbasedatabase" class="form-control">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Tabela</label>
                <input type="text" id="nmbasedtabela" name="nmbasedtabela" class="form-control">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Porta</label>
                <input type="text" id="nmbasedporta" name="nmbasedporta" class="form-control">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Login</label>
                <input type="text" id="nmbasedlogin" name="nmbasedlogin" class="form-control">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Senha</label>
                <input type="text" id="nmbasedsenha" name="nmbasedsenha" class="form-control">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Quantidade de Células <span>*</span></label>
                <input type="text" id="qtcelulas" name="qtcelulas" class="form-control" onchange="isInteger('qtcelulas')" required>
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Quantidade de Leads <span>*</span></label>
                <input type="text" id="qtleads" name="qtleads" class="form-control" onchange="isInteger('qtleads')" required>
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Quantidade de Execução <span>*</span></label>
                <input type="text" id="qtexecutados" name="qtexecutados" class="form-control" onchange="isInteger('qtexecutados')" required>
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Tipo de Campanha <span>*</span></label>
                <select class="form-control" id="cdtipocampanha" name="cdtipocampanha" aria-label="Default select example">
                    
                    <option value="1">Voz</option>
                    <option value="2">WhatsApp</option>
                    <option value="3">SMS</option>
                    <option value="4">E-mail</option>
                    <option value="5">Instagram</option>
                    <option value="6">Twitter</option>
                    <option value="7">Telegram</option>
                    <option value="8">Facebook</option>
                  </select>
                
            
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Status <span>*</span></label>
                <select class="form-control" id="cdstatus" name="cdstatus">
                    {% for i in range(0, tamStatus) %}
                        <option value="{{cdstatus[i]}}">{{dsstatus[i]}}</option>
                    {% endfor %}
                  </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Separador do arquivo</label>
                <input type="text" id="dsarqseparador" name="dsarqseparador" class="form-control">
            </div>
        </div> 
            </br>
            <div class="col-sm-4">
                <input type="submit" class="btn btn-info" value="Realizar Cadastro"/>
                <a class="btn btn-info" href="{{ url_for('campanhaTela') }}">Voltar</a>
                <link rel="stylesheet" href="../static/css/bootstrap.css">
            </div>
        </fieldset>
    </form>
</nav>    
{% endblock %}