{% extends "template.html" %}
{% block conteudo %}

  <style>
    
  </style>
  <div class="bg-light">
    <br/>
    <div class="form-group col-sm-4">
    <a href="{{ url_for('campanhaCadastro') }}" class="btn btn-primary btn-sm"> Novo</a>
  </div>
  
  <br/>
  <table class="table table-striped table-bordered">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Descrição da Campanha</th>
        <th>Data Inicial</th>
        <th>Data Final</th>
        <th width="500"> Operações </th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(0, tamanho) %}
      <tr>
        <td>{{ id[i] }}</td>
        <td>{{ nome[i] }}</td>
        <td>{{ dtinicio[i] }}</td>
        <td>{{ dtfim[i] }}</td>
        <td align="center">
          <a href="{{ url_for('campanhaEditar', id=id[i]) }}" class="btn btn-outline-info btn-sm"> Alterar</a>
          <a href="{{ url_for('campanhaDeletar', id=id[i]) }}" class="btn btn-outline-danger btn-sm"> Excluir</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
</div>