{% extends "template_semmenu.html" %}
{% block conteudo %}
<nav class="bg-light">
    <form action="{{ url_for('canalEditar', id=id) }}" method="post">
        <fieldset>
            <!-- <input type="file" name="arquivo" accept=".jpg"> -->
        <div class="form-group row col-sm-12">
            <div class='form-group col-sm-4'>
                <label for='nome'>Código do Canal</label>
                <input type='text' id='cdcanal' name='cdcanal' class='form-control required' disabled value="{{cdcanal[0]}}">
            </div>

            <div class='form-group col-sm-4'>
                            <label for='nome'>Descrição do Canal</label>
                            <input type='text' id='dscanal' name='dscanal' class='form-control required' value="{{dscanal[0]}}">
                        </div>
            
        </div> 
            </br>
            <div class="col-sm-4">
                <input type="submit" class="btn btn-info" value="Realizar Cadastro"/>
                <a class="btn btn-info" href="{{ url_for('canalTela') }}">Voltar</a>
                <link rel="stylesheet" href="/static/css/bootstrap.css">
            </div>
        </fieldset>
    </form>
</nav>    
{% endblock %}