{% extends "template_semmenu.html" %}
{% block conteudo %}
<nav class="bg-light">
    <form action="{{ url_for('celulaEditar', id=id) }}" method="post">
        <fieldset>
            <!-- <input type="file" name="arquivo" accept=".jpg"> -->
        <div class="form-group row col-sm-12">
            
            
            <div class="form-group col-sm-4">
                <label for="porta">Código da Campanha <span>*</span></label>
                <select class="form-control" id="cdcampanha" name="cdcampanha">
                    {% for i in range(0, tamCamp) %}
                        {% if cdcampanha[0] == cdcamp[i]%}
                            <option selected value="{{cdcamp[i]}}">{{dscamp[i]}}</option>
                        {% else %}
                            <option value="{{cdcamp[i]}}">{{dscamp[i]}}</option>
                        {% endif %}    
                    {% endfor %}
                  </select>
            </div>


            <div class='form-group col-sm-4'>
                <label for='nome'>Código da Célula</label>
                <input type='text' id='cdcelula' name='cdcelula' class='form-control required' value="{{cdcelula[0]}}">
            </div>

            <div class='form-group col-sm-4'>
                <label for='nome'>Descrição da Célula</label>
                <input type='text' id='dscelula' name='dscelula' class='form-control required' value="{{dscelula[0]}}">
            </div>

            <div class='form-group col-sm-4'>
                <label for='nome'>Data Inicial</label>
                <input type='text' id='dtinicio' name='dtinicio' class='form-control required' value="{{dtinicio[0]}}">
            </div>

            <div class='form-group col-sm-4'>
                <label for='nome'>Data Final</label>
                <input type='text' id='dtfim' name='dtfim' class='form-control required' value="{{dtfim[0]}}">
            </div>

            <div class='form-group col-sm-4'>
                <label for='nome'>Hora Inicial</label>
                <input type='text' id='hrinicio' name='hrinicio' class='form-control required' value="{{hrinicio[0]}}">
            </div>

            <div class='form-group col-sm-4'>
                <label for='nome'>Hora Final</label>
                <input type='text' id='hrfim' name='hrfim' class='form-control required' value="{{hrfim[0]}}">
            </div>

            <div class='form-group col-sm-4'>
                <label for='nome'>Quantidade de Execuções</label>
                <input type='text' id='qtexecutados' name='qtexecutados' class='form-control required' value="{{qtexecutados[0]}}">
            </div>

            <div class='form-group col-sm-4'>
                <label for='nome'>Quantidade de Leads</label>
                <input type='text' id='qtleads' name='qtleads' class='form-control required' value="{{qtleads[0]}}">
            </div>

            <div class='form-group col-sm-4'>
                <label for='nome'>Quantidade de Discagem</label>
                <input type='text' id='qtdiscagens' name='qtdiscagens' class='form-control required' value="{{qtdiscagens[0]}}">
            </div>

            
            
            <div class="form-group col-sm-4">
                <label for="porta">Código de Estratégia de Discagem <span>*</span></label>
                <select class="form-control" id="cdestrategiadiscagem" name="cdestrategiadiscagem">
                    {% for i in range(0, tamEst) %}
                        {% if cdestrategiadiscagem[0] == cdest[i]%}
                            <option selected value="{{cdest[i]}}">{{dsmov[i]}}</option>
                        {% else %}
                            <option value="{{cdest[i]}}">{{dsmov[i]}}</option>
                        {% endif %}    
                    {% endfor %}
                  </select>
            </div>
            

            <div class="form-group col-sm-4">
                <label for="porta">Código de Tipo de Célula <span>*</span></label>
                <select class="form-control" id="cdtipocelula" name="cdtipocelula">
                    {% for i in range(0, tamTC) %}
                        {% if cdtipocelula[0] == cdTC[i]%}
                            <option selected value="{{cdTC[i]}}">{{dsTC[i]}}</option>
                        {% else %}
                            <option value="{{cdTC[i]}}">{{dsTC[i]}}</option>
                        {% endif %}    
                    {% endfor %}
                  </select>
            </div>



            <div class="form-group col-sm-4">
                <label for="porta">Código do Canal <span>*</span></label>
                <select class="form-control" id="cdcanal" name="cdcanal">
                    {% for i in range(0, tamCN) %}
                        {% if cdcanal[0] == cdCN[i]%}
                            <option selected value="{{cdCN[i]}}">{{dsCN[i]}}</option>
                        {% else %}
                            <option value="{{cdCN[i]}}">{{dsCN[i]}}</option>
                        {% endif %}    
                    {% endfor %}
                  </select>
            </div>

            <div class="form-group col-sm-4">
                <label for="porta">Código do Status <span>*</span></label>
                <select class="form-control" id="cdstatus" name="cdstatus">
                    {% for i in range(0, tamST) %}
                        {% if cdstatus[0] == cdST[i]%}
                            <option selected value="{{cdST[i]}}">{{dsST[i]}}</option>
                        {% else %}
                            <option value="{{cdST[i]}}">{{dsST[i]}}</option>
                        {% endif %}    
                    {% endfor %}
                  </select>
            </div>

        </div> 
            </br>
            <div class="col-sm-4">
                <input type="submit" class="btn btn-info" value="Realizar Cadastro"/>
                <a class="btn btn-info" href="{{ url_for('celulaTela') }}">Voltar</a>
                <link rel="stylesheet" href="/static/css/bootstrap.css">
            </div>
        </fieldset>
    </form>
</nav>    
{% endblock %}