{% extends "template_semmenu.html" %}
{% block conteudo %}
<nav class="bg-light">
    <form action="{{ url_for('estrategiadiscagemCadastro', id=id) }}" method="post">
        <fieldset>
            <!-- <input type="file" name="arquivo" accept=".jpg"> -->
        <div class="form-group row col-sm-12">
            
            <div class='form-group col-sm-4'>
                            <label for='nome'>Descrição do Movimento</label>
                            <input type='text' id='dsmovimento' name='dsmovimento' class='form-control required' value="{{dsmovimento[0]}}">
                        </div>
            <div class='form-group col-sm-4'>
                            <label for='nome'>Qtd Ligações Tel. 1</label>
                            <input type='text' id='qtligacoestel01' name='qtligacoestel01' class='form-control required' value="{{qtligacoestel01[0]}}">
                        </div>
            <div class='form-group col-sm-4'>
                            <label for='nome'>Qtd Ligações Tel. 2</label>
                            <input type='text' id='qtligacoestel02' name='qtligacoestel02' class='form-control required' value="{{qtligacoestel02[0]}}">
                        </div>
            <div class='form-group col-sm-4'>
                            <label for='nome'>Qtd Ligações Tel. 3</label>
                            <input type='text' id='qtligacoestel03' name='qtligacoestel03' class='form-control required' value="{{qtligacoestel03[0]}}">
                        </div>
            <div class='form-group col-sm-4'>
                            <label for='nome'>Qtd Ligações Tel. 4</label>
                            <input type='text' id='qtligacoestel04' name='qtligacoestel04' class='form-control required' value="{{qtligacoestel04[0]}}">
                        </div>
            <div class='form-group col-sm-4'>
                            <label for='nome'>Qtd Ligações Tel. 5</label>
                            <input type='text' id='qtligacoestel05' name='qtligacoestel05' class='form-control required' value="{{qtligacoestel05[0]}}">
                        </div>
            <div class='form-group col-sm-4'>
                            <label for='nome'>Qtd Ligações Tel. 6</label>
                            <input type='text' id='qtligacoestel06' name='qtligacoestel06' class='form-control required' value="{{qtligacoestel06[0]}}">
                        </div>

        </div> 
            </br>
            <div class="col-sm-4">
                <input type="submit" class="btn btn-info" value="Realizar Cadastro"/>
                <a class="btn btn-info" href="{{ url_for('estrategiadiscagemTela') }}">Voltar</a>
                <link rel="stylesheet" href="/static/css/bootstrap.css">
            </div>
        </fieldset>
    </form>
</nav>    
{% endblock %}