{% extends "template.html" %}
{% block conteudo %}

  <style>
    
  </style>
  <div class="bg-light">
    <br/>
      <div class="form-group col-sm-4">
      <a href="{{ url_for('estrategiadiscagemCadastro') }}" class="btn btn-primary btn-sm"> Novo</a>
    </div>
  <br/>
  
  <table class="table table-striped table-bordered">
    <thead class="thead-light">
      <tr>
        
        <th>ID Estratégia</th>
        <th>Descrição da Movimento</th>
        <th>Quantidade de Ligações Telefone 01</th>
        <th>Quantidade de Ligações Telefone 02</th>
        <th>Quantidade de Ligações Telefone 03</th>
        <th width="500"> Operações </th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(0, tamanho) %}
      <tr>
        <td>{{ cdestrategiadiscagem[i] }}</td>
        <td>{{ dsmovimento[i] }}</td>
        <td>{{ qtligacoestel01[i] }}</td>
        <td>{{ qtligacoestel02[i] }}</td>
        <td>{{ qtligacoestel03[i] }}</td>
        <td align="center">
          <a href="{{ url_for('estrategiadiscagemEditar', id=cdestrategiadiscagem[i]) }}" class="btn btn-outline-info btn-sm"> Alterar</a>
          <a href="{{ url_for('estrategiadiscagemDeletar', id=cdestrategiadiscagem[i]) }}" class="btn btn-outline-danger btn-sm"> Excluir</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
</div>