{% extends "template_semmenu.html" %}
{% block conteudo %}

  <br/>
  <div class="bg-light">
  
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Projeto</h5>
            <p class="card-text">Total de projeto criado: <b>{{projeto[0]}}</b></p>
            <a href="{{ url_for('projetoTela') }}" class="btn btn-primary">Ir</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Campanha</h5>
            <p class="card-text">Total de campanhas ativas: <b>{{campanha[0]}}</b></p>
            <a href="{{ url_for('campanhaTela') }}" class="btn btn-primary">Ir</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Célula</h5>
            <p class="card-text">Total de células cadastradas: <b>{{celula[0]}}</b></p>
            <a href="{{ url_for('celulaTela') }}" class="btn btn-primary">Ir</a>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Relacionamento</h5>
            <p class="card-text">Total de Relacionamento entre células criadas: <b>{{relacionamento[0]}}</b></p>
            <a href="{{ url_for('relacionamentoTela') }}" class="btn btn-primary">Ir</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Estratégia de Discagem</h5>
            <p class="card-text">Total de Estratégia de Discagem criadas: <b>{{estrategiadiscagem[0]}}</b></p>
            <a href="{{ url_for('estrategiadiscagemTela') }}" class="btn btn-primary">Ir</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Canal</h5>
            <p class="card-text">Total de Canais criados: <b>{{canal[0]}}</b></p>
            <a href="{{ url_for('canalTela') }}" class="btn btn-primary">Ir</a>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Status</h5>
            <p class="card-text">Total de Status criados: <b>{{status[0]}}</b></p>
            <a href="{{ url_for('statusTela') }}" class="btn btn-primary">Ir</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tipo de Acesso</h5>
            <p class="card-text">Total de Tipo de Acesso: <b>{{tipoacesso[0]}}</b></p>
            <a href="{{ url_for('tipoacessoTela') }}" class="btn btn-primary">Ir</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tipo de Célula</h5>
            <p class="card-text">Total de Tipo de Célula: <b>{{tipocelula[0]}}</b></p>
            <a href="{{ url_for('tipocelulaTela') }}" class="btn btn-primary">Ir</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
</div>