<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>EasyManager</title>
        <!-- <link rel="stylesheet" href="{{  url_for('static', filename='bootstrap.css') }}"> -->
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/js/bootstrap.js">
        <link rel="stylesheet" href="../static/js/jquery-3.6.0.min.js">
        <link rel="icon" type="image/x-icon" href="../static/img/0.png">
        <style type="text/css">
            .login {
            width: 1920px;
            height: 10px;
            }
        </style><br/><br/><br/>
        <img width="10%" src="/static/img/EasyDash.png">
        <br/><br/><br/>
    </head>
    <body class="text-center">

      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul id="messages" class="list-unstyled">
          {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">{{ message }}</div>
          {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}

        <div class="limiter">
          <div class="container-login100">
            <div class="wrap-login100">
              <form class="login100-form validate-form" method="POST" action="{{ url_for('login') }}">
                <h3 class="login100-form-title p-b-34">
                  Seja Bem Vindo(a)!
                </h3>
                <br/>
                <div class="wrap-input100">
                    <input type="text" class="wrap-input100"  name="usuario" placeholder="Nome do Usuário" required>
                    <span class="focus-input100"></span>
                </div>
                  <div class="login">  </div>

                <div class="wrap-input100">
                    <input type="password" class="wrap-input100" name="senha" placeholder="Senha" required>
                    <span class="focus-input100"></span>
                </div>
                <br/>

                <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                  <label class="form-check-label" for="rememberPasswordCheck">
                    Relembrar Senha
                  </label>
                </div>

                <div class="d-grid">
                  <button class="btn btn-outline-primary" type="submit">
                    Acessar
                  </button>
                </div>
                <br/>
                
              </form>
            </div>
          </div>
        </div>
    </body>
</html>


