{% extends "template_semmenu.html" %}
{% block conteudo %}
<nav class="bg-light">
    <form action="{{ url_for('projetoEditar', id=id) }}" method="post">
        <fieldset>
            <!-- <input type="file" name="arquivo" accept=".jpg"> -->
        <div class="form-group row col-sm-12">
            <div class="form-group col-sm-4">
                <label for="nome">Descrição do Projeto</label>
                <input type="text" id="dsprojeto" name="dsprojeto" class="form-control" value="{{dsProjeto[0]}}">
            </div>
            
            <div class="form-group col-sm-4">
                <label for="porta">Conexão do Banco A5Digital</label>
                <input type="text" id="nmConexaoA5D" name="nmConexaoA5D" class="form-control" value="{{nmConexaoA5D[0]}}">
            </div>
        
            <div class="form-group col-sm-4">
                <label for="porta">Host do Banco A5Digital</label>
                <input type="text" id="nmA5DHost" name="nmA5DHost" class="form-control" value="{{nmA5DHost[0]}}">
            </div>
           
            <div class="form-group col-sm-4">
                <label for="porta">Database do Banco A5Digital</label>
                <input type="text" id="nmA5DDatabase" name="nmA5DDatabase" class="form-control" value="{{nmA5DDatabase[0]}}">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Tabela do Banco A5Digital</label>
                <input type="text" id="nmA5DTabela" name="nmA5DTabela" class="form-control" value="{{nmA5DTabela[0]}}">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Porta do Banco A5Digital</label>
                <input type="text" id="nmA5DPorta" name="nmA5DPorta" class="form-control" value="{{nmA5DPorta[0]}}">
            </div>
            
            <div class="form-group col-sm-4">
                <label for="porta">Login do Banco A5Digital</label>
                <input type="text" id="nmA5DLogin" name="nmA5DLogin" class="form-control" value="{{nmA5DLogin[0]}}">
            </div>

            <div class="form-group col-sm-4">
                <label for="porta">Senha do Banco A5Digital</label>
                <input type="text" id="nmA5DSenha" name="nmA5DSenha" class="form-control" value="{{nmA5DSenha[0]}}">
            </div>
            <div class="form-group col-sm-4">
                <label for="porta">Código da Campanha no A5Digital</label>
                <input type="text" id="cdA5DCampanha" name="cdA5DCampanha" class="form-control" value="{{cdA5DCampanha[0]}}">
            </div>
            <div class="form-group col-sm-12">
                <label for="porta">Select</label>
                <input type="text" id="dsSelect" name="dsSelect" class="form-control" value="{{dsSelect[0]}}">
            </div>
        </div> 
            </br>
            <div class="col-sm-4">
                <input type="submit" class="btn btn-info" value="Realizar Cadastro"/>
                <a class="btn btn-info" href="{{ url_for('projetoTela') }}">Voltar</a>
                <link rel="stylesheet" href="/static/css/bootstrap.css">
            </div>
        </fieldset>
    </form>
</nav>    
{% endblock %}