{% extends "template_semmenu.html" %}
{% block conteudo %}
<nav class="bg-light">
    <form action="{{ url_for('relacionamentoCadastro') }}" method="post">
        <fieldset>
            <!-- <input type="file" name="arquivo" accept=".jpg"> -->
        <div class="form-group row col-sm-12">
            
            <div class="form-group col-sm-4">
                <label for="porta">Código da Campanha<span>*</span></label>
                <select class="form-control" id="cdcampanha" name="cdcampanha">
                    {% for i in range(0, tamCamp) %}
                        <option value="{{cdcamp[i]}}">{{dscamp[i]}}</option>
                    {% endfor %}
                  </select>
            </div>



            <div class="form-group col-sm-4">
                <label for="porta">Código da Célula<span>*</span></label>
                <select class="form-control" id="cdcelula" name="cdcelula">
                        {% for i in range(0, tamCel) %}
                        <option value="{{cdcel[i]}}">{{dscel[i]}}</option>
                        {% endfor %}
                </select>
            </div>


                        <div class="form-group col-sm-4">
                            <label for="porta">Código da Célula Predecessora<span>*</span></label>
                            <select class="form-control" id="cdcelulapredecessora" name="cdcelulapredecessora">
                                    <option value="0">Sem Predecessor</option>
                                    {% for i in range(0, tamCel) %}
                                    <option value="{{cdcel[i]}}">{{dscel[i]}}</option>
                                    {% endfor %}
                            </select>
                        </div>

            <div class='form-group col-sm-12'>
                            <label for='nome'>Query</label>
                            <input type='text' id='dsquery' name='dsquery' class='form-control required'>
                        </div>
            <div class='form-group col-sm-4'>
                            <label for='nome'>Código do Filtro</label>
                            <input type='text' id='cdfiltro' name='cdfiltro' class='form-control required'>
                        </div>
            <div class='form-group col-sm-4'>
                            <label for='nome'>Código da Prioridade</label>
                            <input type='text' id='cdprioridade' name='cdprioridade' class='form-control required'>
                        </div>


        </div> 
            </br>
            <div class="col-sm-4">
                <input type="submit" class="btn btn-info" value="Realizar Cadastro"/>
                <a class="btn btn-info" href="{{ url_for('relacionamentoTela') }}">Voltar</a>
                <link rel="stylesheet" href="../static/css/bootstrap.css">
            </div>
        </fieldset>
    </form>
</nav>    
{% endblock %}