{% extends "template_semmenu.html" %}
{% block conteudo %}
<nav class="bg-light">
    <form action="{{ url_for('relacionamentoEditar', id=id) }}" method="post">
        <fieldset>
            <!-- <input type="file" name="arquivo" accept=".jpg"> -->
        <div class="form-group row col-sm-12">
            
            <div class="form-group col-sm-4">
                <label for="porta">Código da Campanha <span>*</span></label>
                <select class="form-control" id="cdcampanha" name="cdcampanha">
                    {% for i in range(0, tamCamp) %}
                        {% if cdcampanha[0] == cdcamp[i]%}
                            <option selected value="{{cdcamp[i]}}">{{dscamp[i]}}</option>
                        {% else %}
                            <option value="{{cdcamp[i]}}">{{dscamp[i]}}</option>
                        {% endif %}    
                    {% endfor %}
                  </select>
            </div>

            <div class="form-group col-sm-4">
                            <label for="porta">Código da Célula <span>*</span></label>
                            <select class="form-control" id="cdcelula" name="cdcelula">
                                {% for i in range(0, tamCel) %}
                                    {% if cdcelula[0] == cdcel[i]%}
                                        <option selected value="{{cdcel[i]}}">{{dscel[i]}}</option>
                                    {% else %}
                                        <option value="{{cdcel[i]}}">{{dscel[i]}}</option>
                                    {% endif %}    
                                {% endfor %}
                              </select>
            </div>            

            <div class="form-group col-sm-4">
                            <label for="porta">Código da Célula Predecessora <span>*</span></label>
                            <select class="form-control" id="cdcelulapredecessora" name="cdcelulapredecessora">
                                {% for i in range(0, tamCel) %}
                                        
                                    {% if cdcelulapredecessora[0] == cdcel[i]%}
                                        <option selected value="{{cdcel[i]}}">{{dscel[i]}}</option>
                                    {% else %}
                                        <option value="{{cdcel[i]}}">{{dscel[i]}}</option>
                                    {% endif %}    
                                {% endfor %}
                                {% if cdcelulapredecessora[0] == '0' %}
                                        <option selected value="0">Sem Predecessor</option>
                                {% else %}  
                                        <option value="0">Sem Predecessor</option>      
                                {% endif %} 
                              </select>
            </div>            
            <div class='form-group col-sm-4'>
                            <label for='nome'>Query</label>
                            <input type='text' id='dsquery' name='dsquery' class='form-control required' value="{{dsquery[0]}}">
                        </div>
            <div class='form-group col-sm-4'>
                            <label for='nome'>Código do Filtro</label>
                            <input type='text' id='cdfiltro' name='cdfiltro' class='form-control required' value="{{cdfiltro[0]}}">
                        </div>
            <div class='form-group col-sm-4'>
                            <label for='nome'>Código da Prioridade</label>
                            <input type='text' id='cdprioridade' name='cdprioridade' class='form-control required' value="{{cdprioridade[0]}}">
                        </div>


        </div> 
            </br>
            <div class="col-sm-4">
                <input type="submit" class="btn btn-info" value="Realizar Cadastro"/>
                <a class="btn btn-info" href="{{ url_for('relacionamentoTela') }}">Voltar</a>
                <link rel="stylesheet" href="/static/css/bootstrap.css">
            </div>
        </fieldset>
    </form>
</nav>    
{% endblock %}