{% extends "template.html" %}
{% block conteudo %}

  <style>
    
  </style>
  <div class="bg-light">
    <br/>
    <div class="form-group col-sm-4">
      <a href="{{ url_for('relacionamentoCadastro') }}" class="btn btn-primary btn-sm"> Novo</a>
    </div>

  <br/>
  
  <table class="table table-striped table-bordered">
    <thead class="thead-light">
      <tr>
        
        <th>ID da Campanha</th>
        <th>ID da Célula</th>
        <th>ID da Célula Predecessora</th>
        <th>Query</th>
        <th>ID do Filtro</th>
        <th>ID da Prioridade</th>
        <th width="500"> Operações </th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(0, tamanho) %}
      <tr>
        <td>{{ cdcampanha[i] }}</td>
        <td>{{ cdcelula[i] }}</td>
        <td>{{ cdcelulapredecessora[i] }}</td>
        <td>{{ dsquery[i] }}</td>
        <td>{{ cdfiltro[i] }}</td>
        <td>{{ cdprioridade[i] }}</td>
        <td align="center">
          <a href="{{ url_for('relacionamentoEditar', id=cdrelacionamento[i]) }}" class="btn btn-outline-info btn-sm"> Alterar</a>
          <a href="{{ url_for('relacionamentoDeletar', id=cdrelacionamento[i]) }}" class="btn btn-outline-danger btn-sm"> Excluir</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
</div>