{% extends "template_semmenu.html" %}
{% block conteudo %}
<nav class="bg-light">
    <form action="{{ url_for('statusEditar', id=id) }}" method="post">
        <fieldset>
            <!-- <input type="file" name="arquivo" accept=".jpg"> -->
        <div class="form-group row col-sm-12">
            
            <div class='form-group col-sm-2'>
                <label for='nome'>Código do Status</label>
                <input type='text' id='cdstatus' name='cdstatus' class='form-control required' value="{{cdstatus[0]}}" disabled>
            </div>
            <div class='form-group col-sm-4'>
                            <label for='nome'>Descrição do status</label>
                            <input type='text' id='dsstatus' name='dsstatus' class='form-control required' value="{{dsstatus[0]}}">
                        </div>
            
        </div> 
            </br>
            <div class="col-sm-4">
                <input type="submit" class="btn btn-info" value="Realizar Cadastro"/>
                <a class="btn btn-info" href="{{ url_for('statusTela') }}">Voltar</a>
                <link rel="stylesheet" href="/static/css/bootstrap.css">
            </div>
        </fieldset>
    </form>
</nav>    
{% endblock %}