{% extends "template.html" %}
{% block conteudo %}

  <style>
    
  </style>
  <div class="bg-light">
    <br/>
    <div class="form-group col-sm-4">
      <a href="{{ url_for('statusCadastro') }}" class="btn btn-primary btn-sm"> Novo</a>
    </div>

  <br/>
 
  <table class="table table-striped table-bordered">
    <thead class="thead-light">
      <tr>
        
        <th>ID Status</th>
        <th>Descrição do Status</th>
       
        <th width="500"> Operações </th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(0, tamanho) %}
      <tr>
        <td>{{ cdstatus[i] }}</td>
        <td>{{ dsstatus[i] }}</td>
       
        <td align="center">
          <a href="{{ url_for('statusEditar', id=cdstatus[i]) }}" class="btn btn-outline-info btn-sm"> Alterar</a>
          <a href="{{ url_for('statusDeletar', id=cdstatus[i]) }}" class="btn btn-outline-danger btn-sm"> Excluir</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
</div>