<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>EasyManager</title>
        <!-- <link rel="stylesheet" href="{{  url_for('static', filename='bootstrap.css') }}"> -->
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="icon" type="image/x-icon" href="../static/img/000.png">
    </head>
    <script> 
        function isInteger(element){
        var valor = document.getElementById(element);
        var texto = valor.value;
        if (isNaN(texto)){
            alert("Digite um número válido")
            valor.value = ''
        }
        }
    </script> 
    <body>
    <!-- Menu -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}</div>
                        <!--<div class="alert alert-success alert-dismissible fade show" role="alert">{{ message }}</div>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">{{ message }}</div>-->
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <a class="navbar navbar-inverse navbar-fixed-top">
                <div class="container justify-content-center">
                    <nav class="navbar navbar-header">
                        <img src="/static/img/000.png" alt="" width="55" height="50" class="d-inline-block align-text-top">
                        <strong><h3>{{ titulo }}</h3></strong>
                    </nav>
                </div>
            </a>
        </div>
        {% block conteudo %}
        {% endblock %}
    </nav>
    </body>
</html>