<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>EasyCampaign</title>
        <!-- <link rel="stylesheet" href="{{  url_for('static', filename='bootstrap.css') }}"> -->
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="icon" type="image/x-icon" href="../static/img/000.png">
        <style>/* Dropdown Button */
            .dropbtn {
              background-color: #dde2e0;
              color: rgb(0, 0, 0);
              
              width: 100%;
              height: 20px;
              font-size: 16px;
              border: none;
            }
            
            /* The container <div> - needed to position the dropdown content */
            .dropdown {
              width: auto;
              height: 30px;
              display: inline-block;
            }
            
            /* Dropdown Content (Hidden by Default) */
            .dropdown-content {
              display: none;
              position: absolute;
              background-color: #f1f1f1;
              min-width: 160px;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              z-index: 1;
            }
            
            /* Links inside the dropdown */
            .dropdown-content a {
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
            }
            
            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {background-color: #ddd;}
            
            /* Show the dropdown menu on hover */
            .dropdown:hover .dropdown-content {display: block;}
            
            /* Change the background color of the dropdown button when the dropdown content is shown */
            .dropdown:hover .dropbtn {background-color: #E0E0E0;}
            
            .bg-color{background-color: #E0E0E0;}
            </style>
            
            <script> 
              function isInteger(element){
              var valor = document.getElementById(element);
              var texto = valor.value;
              if (isNaN(texto)){
                  alert("Digite um número válido")
                  valor.value = ''
              }
              }
          </script> 
    </head>
    <body>
    <!-- Menu -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        {% if err %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}</div>
                        {% else %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">{{ message }}</div>   
                        {% endif %}<!--<div class="alert alert-success alert-dismissible fade show" role="alert">{{ message }}</div>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">{{ message }}</div>-->
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <a class="navbar navbar-inverse navbar-fixed-top">
                <div class="container justify-content-center">
                    <nav class="navbar navbar-header">
                        <img src="/static/img/000.png" alt="" width="55" height="50" class="d-inline-block align-text-top">
                        <strong><h3>{{ titulo }}</h3></strong>
                    </nav>
                </div>
            </a>
            <div class="text-black mr-4">
                <div><strong>Usuário(a) logado:</strong></div>
               <!-- <div>{{ session['usuario'] }}</div>-->
            </div>
            <div class="ml-2">
                <!-- <a href="{{ url_for('login') }}" class="btn btn-outline-danger btn-sm">
                   Sair
                </a> -->
            </div>
        </div>
    </nav>  
    <nav class="navbar navbar-light  col-sm-12 bg-color">
        <div class="dropdown">
            <button class="dropbtn">Projeto</button>
            <div class="dropdown-content">
              <a href="{{ url_for('projetoTela') }}">Visualizar</a>
              <a href="{{ url_for('projetoCadastro') }}">Cadastrar</a>
              
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Campanha</button>
            <div class="dropdown-content">
                <a href="{{ url_for('campanhaTela') }}">Visualizar</a>
              <a href="{{ url_for('campanhaCadastro') }}">Cadastrar</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Célula</button>
            <div class="dropdown-content">
                <a href="{{ url_for('celulaTela') }}">Visualizar</a>
              <a href="{{ url_for('celulaCadastro') }}">Cadastrar</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Relacionamento</button>
            <div class="dropdown-content">
                <a href="{{ url_for('relacionamentoTela') }}">Visualizar</a>
              <a href="{{ url_for('relacionamentoCadastro') }}">Cadastrar</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Estratégia de Discagem</button>
            <div class="dropdown-content">
                <a href="{{ url_for('estrategiadiscagemTela') }}">Visualizar</a>
              <a href="{{ url_for('estrategiadiscagemCadastro') }}">Cadastrar</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Canal</button>
            <div class="dropdown-content">
                <a href="{{ url_for('canalTela') }}">Visualizar</a>
              <a href="{{ url_for('canalCadastro') }}">Cadastrar</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Status</button>
            <div class="dropdown-content">
                <a href="{{ url_for('statusTela') }}">Visualizar</a>
              <a href="{{ url_for('statusCadastro') }}">Cadastrar</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Tipo de Acesso</button>
            <div class="dropdown-content">
                <a href="{{ url_for('tipoacessoTela') }}">Visualizar</a>
              <a href="{{ url_for('tipoacessoCadastro') }}">Cadastrar</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Tipo de Célula</button>
            <div class="dropdown-content">
                <a href="{{ url_for('tipocelulaTela') }}">Visualizar</a>
              <a href="{{ url_for('tipocelulaCadastro') }}">Cadastrar</a>
            </div>
          </div>
      </nav>  
   
        {% block conteudo %}
        {% endblock %}
        
    </body>
</html>