{% extends "template.html" %}
{% block conteudo %}

  <style>
    
  </style>
  <div class="bg-light">
    <br/>
    <div class="form-group col-sm-4">
      <a href="{{ url_for('tipoacessoCadastro') }}" class="btn btn-primary btn-sm"> Novo</a>
    </div>

  <br/>
  
  <table class="table table-striped table-bordered">
    <thead class="thead-light">
      <tr>
        
        <th>ID Tipo de Acesso</th>
        <th>Descrição do Tipo de Acesso</th>
       
        <th width="500"> Operações </th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(0, tamanho) %}
      <tr>
        <td>{{ cdtipoacesso[i] }}</td>
        <td>{{ dstipoacesso[i] }}</td>
       
        <td align="center">
          <a href="{{ url_for('tipoacessoEditar', id=cdtipoacesso[i]) }}" class="btn btn-outline-info btn-sm"> Alterar</a>
          <a href="{{ url_for('tipoacessoDeletar', id=cdtipoacesso[i]) }}" class="btn btn-outline-danger btn-sm"> Excluir</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
</div>