{% extends "template.html" %}
{% block conteudo %}

  <style>
    
  </style>
  <div class="bg-light">
    <div class="form-group col-sm-4">
      <a href="{{ url_for('tipocelulaCadastro') }}" class="btn btn-primary btn-sm"> Novo</a>
    </div>
  <br/>
  
  <table class="table table-striped table-bordered">
    <thead class="thead-light">
      <tr>
        
        <th>ID Tipo de Célula</th>
        <th>Descrição do Tipo de Célula</th>
       
        <th width="500"> Operações </th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(0, tamanho) %}
      <tr>
        <td>{{ cdtipocelula[i] }}</td>
        <td>{{ dstipocelula[i] }}</td>
       
        <td align="center">
          <a href="{{ url_for('tipocelulaEditar', id=cdtipocelula[i]) }}" class="btn btn-outline-info btn-sm"> Alterar</a>
          <a href="{{ url_for('tipocelulaDeletar', id=cdtipocelula[i]) }}" class="btn btn-outline-danger btn-sm"> Excluir</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
</div>