{% extends "template_semmenu.html" %}
{% block conteudo %}
<nav class="bg-light">
    <form action="{{ url_for('tipocelulaEditar', id=id) }}" method="post">
        <fieldset>
            <!-- <input type="file" name="arquivo" accept=".jpg"> -->
        <div class="form-group row col-sm-12">
            
            <div class='form-group col-sm-2'>
                <label for='nome'>Código do Tipo de Célula</label>
                <input type='text' id='cdtipocelula' name='cdtipocelula' class='form-control required' value="{{cdtipocelula[0]}}" disabled>
            </div>
            <div class='form-group col-sm-4'>
                            <label for='nome'>Descrição do Tipo de Célula</label>
                            <input type='text' id='dstipocelula' name='dstipocelula' class='form-control required' value="{{dstipocelula[0]}}">
                        </div>
            
        </div> 
            </br>
            <div class="col-sm-4">
                <input type="submit" class="btn btn-info" value="Realizar Cadastro"/>
                <a class="btn btn-info" href="{{ url_for('tipocelulaTela') }}">Voltar</a>
                <link rel="stylesheet" href="/static/css/bootstrap.css">
            </div>
        </fieldset>
    </form>
</nav>    
{% endblock %}