{% extends "template_semmenu.html" %}
{% block conteudo %}
<nav class="bg-light">
    <form action="{{ url_for('tipoacessoCadastro') }}" method="post">
        <fieldset>
            <!-- <input type="file" name="arquivo" accept=".jpg"> -->
        <div class="form-group row col-sm-12">
            
            <div class='form-group col-sm-4'>
                            <label for='nome'>Descrição do tipoacesso</label>
                            <input type='text' id='dstipoacesso' name='dstipoacesso' class='form-control required'>
                        </div>
            
        </div> 
            </br>
            <div class="col-sm-4">
                <input type="submit" class="btn btn-info" value="Realizar Cadastro"/>
                <a class="btn btn-info" href="{{ url_for('tipoacessoTela') }}">Voltar</a>
                <link rel="stylesheet" href="../static/css/bootstrap.css">
            </div>
        </fieldset>
    </form>
</nav>    
{% endblock %}